:root {
    --main-dark-color: #3f3f3f;
    --secondary-dark-color: #437a5b;
    --third-dark-color: #b4cd93;
    --fourth-dark-color: #fbf5b7;

    --main-lihgt-color: #fbf9e0;
    --secondary-light-color: #f0efb9;
    --third-light-color: #04deac;
    --fourth-light-color: #0e9577;

    --border-radius: 15px;
}

body {
    background-color: var(--main-dark-color);
    color: var(--main-lihgt-color);
    font-family: var(--font-mono);
    margin: 0;
    padding: 0;
}